[Unit]
Description=Run the campaigns_scrapper Docker container
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
WorkingDirectory=/home/astraydev/candhis_api
ExecStart=/usr/local/bin/docker-compose run --rm campaigns_scrapper
SyslogIdentifier=campaigns_scrapper

[Install]
WantedBy=multi-user.target
