[Unit]
Description=Run the campaigns_scrapper binary
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/home/astraydev/candhis_api/bin
ExecStart=/home/astraydev/candhis_api/bin/campaigns_scrapper -config /home/astraydev/candhis_api/conf/campaigns_scrapper.yml
SyslogIdentifier=campaigns_scrapper

[Install]
WantedBy=multi-user.target
