[Unit]
Description=Run the sessionid_scrapper Docker container
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
WorkingDirectory=/home/astraydev/candhis_api
ExecStart=/usr/local/bin/docker-compose run --rm sessionid_scrapper
SyslogIdentifier=sessionid_scrapper

[Install]
WantedBy=multi-user.target
