[Unit]
Description=Run the sessionid_scrapper binary
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/home/astraydev/candhis_api/bin
ExecStart=/home/astraydev/candhis_api/bin/sessionid_scrapper -config /home/astraydev/candhis_api/conf/sessionid_scrapper.yml
SyslogIdentifier=sessionid_scrapper

[Install]
WantedBy=multi-user.target
